{% extends "login/basic.html" %} {% block title %} Booking {% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-capitalize navbar-brand text-white">Welcome {{ user }}!!</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  mx-3">
        <a class="nav-link" href="/Homepage/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-3 active">
        <a class="nav-link" href="/booking/">Make a Booking</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="/History/">History</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="/pending/">Pending requests</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item ">
        <form method="POST" ,action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mx-3">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>


<div class='container'>
<form class="needs-validation" novalidate action='' method='POST'>
  {% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Name</label>
        {{ form.name }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Email</label>
   {{ form.email }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Place</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">1</span>
        </div>
        {{ form.place }}
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">City</label>
      {{ form.date }}
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">Start-time</label>
      {{ form.start_time}}   
     </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">End-time</label>
  {{ form.end_time}}
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>
{% endblock body %}