{% extends "login/basic.html" %} {% block title %} Booking {% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-capitalize navbar-brand text-white">Welcome {{ user }}!!</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  mx-3">
        <a class="nav-link" href="/Homepage/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mx-3 active">
        <a class="nav-link" href="/booking/">Make a Booking</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="/History/">History</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="/pending/">Pending requests</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item ">
        <form method="POST" ,action="logout">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mx-3">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<form action='' method='POST'>
  {% csrf_token %}
   {{ form }}
  <input value = 'submit' type='submit'>
</form>
{% endblock body %}