{% extends "login/extended.html" %} {% block title %} Booking {% endblock title %}
{% block body %}


<div class='container my-5'>
<form class="needs-validation" novalidate action="" method='POST'>
  {% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Name</label>
        {{ form.name }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Email</label>
   {{ form.email }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Place</label>
        {{ form.place }}
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip03">Date</label>
      {{ form.date }}
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip04">Start-time</label>
      {{ form.start_time}}   
     </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip05">End-time</label>
  {{ form.end_time}}
    </div>
    <div class="col-md-4 mb-3">
     {{ form.userid}}
  </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>
{% endblock body %}