{% extends "login/extended.html" %} {% block title %} Requests {% endblock title %}
{% block body %}
<div class="table-responsive container">
<table class="table  ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Place</th>
            <th scope="col">Date</th>
            <th scope="col">Start-time</th>
            <th scope="col">End_time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>tk</td>
            <td>Mark</td>
            
          </tr>
          <tr>
                
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>tk</td>
                <td>Mark</td>
              </tr>
         </tbody>
      </table>
    </div>
{% endblock body %}