{% extends "login/extended.html" %} {% block title %} Requests {% endblock title %}
{% block body %}
<div class="table-responsive container">
<table class="table  ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Place</th>
            <th scope="col">Date</th>
            <th scope="col">Start-time</th>
            <th scope="col">End_time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for i in Object %}
          <tr>
           <td>{{i.place}}</td>
            <td>{{i.date}}</td>
            <td>{{i.start_time}}</td>
            <td>{{i.end_time}}</td>
            <td>{{i.status}}</td>
          </tr>
          {% endfor %}
         </tbody>
      </table>
    </div>
{% endblock body %}